.bodyFont {
    font-family:'OFL Sorts Mill Goudy TT','PT Sans', Helvetica, sans-serif;
}

.section-article {
    display:block; padding-left:0;font-family:'OFL Sorts Mill Goudy TT', georgia, times, serif;font-size:15px;white-space: wrap;
}

.divLoginDisplay {
    float:left; 
    height:200px;
    padding:5px 10px; 
    margins:auto;
    font-size: 13px;
    color:maroon;
    font-weight:900;
    text-decoration: none;
}

.big-buttons {
    width:45%;
    margin:3px;
}

.process-buttons {
    width:160px;
    margin:3px;
}

.listHeader {
    font-size: 18px;
    font-weight: 800;
    padding-left: 10px;
    color:green;
    font-family:'OFL Sorts Mill Goudy TT', georgia, times, serif;
}

.listHeaderIcon {
    font-size: 25px;
    color:green;
    vertical-align:middle;
}

.entryInput {
    margin-left: 25px;
    border-color:#E5E4E2;
    border-style:solid;
    border-width:1px;
}

.selectListLine tr:hover {
    background: lightgreen;
}

/*This is where the css for load pages goes*/
.loadTitle {
    font-size: 20px;
    font-weight: 800;
    padding-left: 10px;
    color:blue;
    font-family:'OFL Sorts Mill Goudy TT', georgia, times, serif;

}

/*drop down boostrap menus */
.dropdown :hover {
    cursor: pointer;
}
