<!-- <select name="{{nameid}}" id="{{nameid}}">
    <option value="logout">Logout</option>
    <option value="setupclient">Setup Client</option>
    <option value="setupprovider">Setup Provider</option>
    <option value="informationgather">Gather Information</option>
    <option value="informationclient">Client Information</option>
    <option value="informationprovider">Provider Information</option>
    <option value="informationrequest">Request Information</option>
    <option value="admin">Administration</option>
</select> -->